{% extends 'base.html' %}
{% block content %}


<div class="container m-5">
  <div class="row mb-4">
    <div class="col-sm-2 deputado-pic">
      <img class="img-thumbnail p-1 mx-auto" src="{{deputado.ultimoStatus.urlFoto}}" alt="Foto do deputado(a)">
    </div>
    <div class="col-10 personal-info">
      <h2 class="text-light text-uppercase">
        {{ deputado.ultimoStatus.nomeEleitoral }}
      </h2>
      <p class="text-light">
        <strong>Partido:</strong> {{ deputado.partido }}
      </p>
      <p class="text-light">
        <strong>Nome:</strong> {{ deputado.nomeCivil }}
      </p>
      <p class="text-light">
        <strong>Nascimento:</strong> {{ deputado.dataNascimento}} - {{ deputado.municipioNascimento }}, {{ deputado.ufNascimento }}
      </p>
      <div class="text-light d-flex align-items-center">
        <strong>Gabinete:</strong>
        <span class="px-1">
          Prédio {{ deputado.ultimoStatus.gabinete.predio }} -
          {{ deputado.ultimoStatus.gabinete.predio }}º andar,
          Sala {{ deputado.ultimoStatus.gabinete.sala }} |</span>
        <a href="mailto:{{ deputado.ultimoStatus.gabinete.email }}" class="icon-link icon-link-hover link-light link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
          <i class="bi bi-envelope"></i>
          <span>{{ deputado.ultimoStatus.gabinete.email }}</span>
        </a>
      </div>

      <div class="d-flex align-items-center">
        {% for social in deputado.redeSocial %}
          <a href="{{ social }}" class="px-2 icon-link icon-link-hover link-light link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
            {% if "instagram.com" in social %}
                <i class="bi bi-instagram" style="font-size: 1.2rem;"></i>
          {% elif "facebook" in social %}
                <i class="bi bi-facebook" style="font-size: 1.2rem;"></i>
          {% elif "twitter.com" or "x.com" in social %}
                <i class="bi bi-twitter-x" style="font-size: 1.2rem;"></i>
          {% else %}
          <span>no social</span>
          {% endif %}
          </a>

        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 p-0">
      <div class="accordion" id="">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"  aria-controls="collapseOne">
              Comissões
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body p-0">
              {% for comissao in comissoes %}
                <a href="#" data-bs-toggle="modal"
                   data-bs-target="#comissaoModal"
                   data-comissao-id="{{ comissao.idOrgao }}"
                   class="list_link link-underline link-underline-opacity-0 mx-auto">
                  <li class="p-3 text-light link-underline-opacity-0">{{ comissao.nomePublicacao }} ({{ comissao.titulo }})
                  </li>
                </a>
              {% empty %}
                <li>Este deputado não participa de nenhuma comissão.</li>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="modal fade" id="comissaoModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title fs-5" id="modalLabel">Detalhes da Comissão</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body" id="modal-content">
                Carregando...
              </div>
            </div>
          </div>
        </div>

        <script>
          const modal = document.getElementById('comissaoModal');
          modal.addEventListener('show.bs.modal', function (event) {
            const trigger = event.relatedTarget;
            const comissaoId = trigger.getAttribute('data-comissao-id');

            const modalContent = document.getElementById('modal-content');
            const modalTitle = document.getElementById('modalLabel');

            modalContent.innerHTML = "Carregando...";
            modalTitle.textContent = "Detalhes da Comissão";

            fetch(`https://dadosabertos.camara.leg.br/api/v2/orgaos/${comissaoId}`)
              .then(response => response.json())
              .then(data => {
                const comiss = data.dados;
                modalTitle.textContent = `${comiss.nomePublicacao}`;
                modalContent.innerHTML =
                `
                  <p><strong>Data de Início:</strong> ${comiss.dataInicio}</p>
                  <p><strong>Tipo:</strong> ${comiss.tipoOrgao}</p>
                `;
              })
              .catch(err => {
                modalContent.innerHTML = "<p class='text-danger'>Erro ao carregar dados.</p>";
                console.error(err);
              });
          });
        </script>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Projetos
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body p-0">
              {% for projeto in projetos %}
              <a href="#" class="list_link link-underline link-underline-opacity-0 mx-auto">
                <li class="px-3 py-2 text-light link-underline-opacity-0">
                  ({{ projeto.ano }}) {{ projeto.ementa }}
                </li>
              </a>
              {% empty %}
                <li>Este deputado não participa de nenhuma comissão.</li>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}