{% extends 'base.html' %}
{% block content %}
  <div class="container mt-4">
    <h2>{{ data.partido.sigla }}</h2>
      <div class="container">
        <div class="row justify-content-center">
        {% for deputado in data.deputados %}
          <div class="card grid-item col-sm-3 m-3" style="width: 18rem;">
            <img src="{{ deputado.foto }}" class="card-img-top rounded" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ deputado.nome }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{ request.path }}{{ deputado.id }}/" class="btn btn-danger">Página do deputado(a)</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
{% endblock %}
